.nav__links {
    margin-right: 4.7rem;
    /* margin-bottom: 30rem; */
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    color: white;
    font-size: 1.3em;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #1771F1
}

@media screen and (max-width:768px) {
    .nav__links li a {
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px) {
    .nav__links li a {
        font-size: 0.9em;
    }
}

@media screen and (max-width:400px) {
    .nav__links li a {
        font-size: 0.9em;
    }
}

/* .myhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;    
    z-index: 10;
}

.mylogo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

 */
