.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    color: white;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

/* .myhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;    
    z-index: 10;
}

.mylogo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

 */
